
<div class="container"> 

	<div class="row">

		<div class="col-md-12">

			<h1>{{ titulo }}</h1>

			<input type="text" name="buscar" [(ngModel)]="buscarPokemon" class="form-control" placeholder="Ejemplo: Pikachu">
			
		</div>
		
	</div>


	<div class="row mt-3">

		<div class="col-md-4" *ngFor="let item of pokemones | filter: buscarPokemon; let i = index">

			<div class="card mb-3">

				<img class="card-img-top" src="assets/img/{{item.img}}" alt="{{item.nombre}}">

				<div class="card-body">

					<h3 class="card-title mb-3">{{item.nombre}}</h3>

					<p class="card-text"><strong>Tipo:</strong>{{item.tipo}}</p>
					<p class="card-text"><strong>Fortaleza:</strong>{{item.fortaleza}}</p>
					<p class="card-text"><strong>Debilidad:</strong>{{item.debilidad}}</p>
					
				</div>

				
			</div>

			
		</div>
		
	</div>


</div>
